/*Fuentes import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

@import "./general.css";
@import "./home/header/header.css";
.body_home_main_header{
    background-color: rebeccapurple;
    display: flex;
}
.body{
    background-color: red;
}